.About {
  max-width: 90vw;
  margin:auto;
  color: #f9f6f6; 
  // padding: 20px;

  .section {
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(233, 228, 228, 0.051);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(136, 134, 134, 0.796);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(175, 173, 173, 0.4);

    h2 {
      color: #007bff;
      margin-bottom: 10px;
    text-align: center;
    }

    p {
      line-height: 1.6;
      em {
        color: #00b16a;
        font-style: italic;
      }
    }
  }
}
