.Contact {
  // background-color: aqua;
  height: 10dvh;
  width: 10dvw;
  position: sticky;
  z-index: 100;
  bottom: 0;
  &__pop {
    background-color: black;
    transform: rotate(-90deg);
    display: block;
    text-align: center;
    background-color: inherit;
    color: inherit;

    &:hover {
      cursor: pointer;
      background-color: whitesmoke;
      color: black;
    }
  }

  &__form-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
// color: #00b16a;
// color: #0078d7;

// //! Mobile Responsiveness

// @media only screen and (max-width: 600px) {
// }
// @media only screen and (max-width: 1240px) {
//   .Contact {
//     height: 100%;
//   }
// }
