@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik+Pixels&display=swap");
.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  &__background {
    position: fixed;
    width: 90%;
    z-index: 1;

    img {
      width: 100%;
    }
  }

  &__scr-bg {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: 10px; //
    img {
      width: 46vw;
    }
  }
  &__name {
    color: #007bff;
    text-align: center;
    text-transform: uppercase;
    font-style: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: rgb(66, 62, 62) 2px 2px;
    position: relative;
    padding: 0;
    margin: 0;
  }
  &__scr-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 44vw;
  }

  &__textSlider {
    width: 100%;
    left: 0;
    color: #007bff;
  }

  &__textSlider {
    height: 50px;
    font-weight: 700;
    font-size: 3rem;
    font-family: "Merriweather", serif;
    font-style: normal;
    text-shadow: rgb(66, 62, 62) 4px 2px;
  }
}

//MEDIA QUEries
@media only screen and (min-width: 1200px) {
  .Home {
    &__background {
      width: 85%;
    }

    &__scr-bg {
      width: 100vw;
    }

    &__scr-info {
      top: 42vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  //   .Home {
  //     height: 120vh;
  //     &__background {
  //       display: none;
  //     }
  //     &__scr-bg {
  //       bottom: 0;

  //       img {
  //         width: 0%;
  //       }
  //     }
  //     &__name,
  //     &__textSlider {
  //       color: whitesmoke;
  //     }
  //   }
}
///tablet
@media only screen and (max-width: 1180px) {
  .Home {
    &__background {
      display: none;
    }
    &__scr-bg {
      bottom: 0;

      img {
        width: 80%;
      }
    }
    &__scr-info {
      top: 20dvh;
      width: 100%;
      gap: 25px;
    }
    &__name {
      font-size: 24px;
    }
    &__textSlider {
      font-size: 36px;
    }
    &__name,
    &__textSlider {
      color: aliceblue;
    }
  }
}
