.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  //
  &__titleA,
  &__titleB {
    font-size: 200px;
    margin: 0; // this allows them to be close by removing the default margin on div.. phewww!!
  }
  &__p {
    font-size: 1.4em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    em {
      font-weight: 600;
      color: rgb(254, 250, 250);
    }
  }
}
