.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  text-align: center;

  &__background {
    position: fixed;
    left: 0;
    // top:0;
    width: 100%;
    z-index: 100;

    img {
      width: 100%;
    }
  }

  &__scr-bg {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: 10px; //
    img {
      width: 50vw;
    }
  }
  &__scr-info {
    position: fixed;
    width: 100%;
    left: 0;
    top: 50vw;
  }

  &__name {
    color: #007bff;
  }

  &__bio,
  &__textSlider {
    margin-bottom: 20px;
    color: #007bff;
  }
  &__textSlider {
    height: 50px;
    font-weight: 900;
    font-size: 2rem;

  }
}
