.Projects {
  height: 100vh;
  display: flex;
  text-align: center;
  //   justify-content: space-evenly;
  border: 1px solid rgb(46, 228, 125);
  &__card {
    height: 80vh;
    border: 1px solid aliceblue;
    width: 500px;
    margin: 0 auto;
  }
}
