.SkillsContainer {
  max-width: 90vw;
  margin: auto;
  padding-top: 120px;
  max-height: auto;
  margin-bottom: 20px;
}
.Skills {
  // margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 4%;

  &__card-container {
    border: 1px solid #000000;
    width: 375px; //
    // aspect-ratio: 5 / 7;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: -6px 7px 13px -2.5px gray;
    background-color: #2d2c2c;
    //!
    position: relative;
    padding-bottom: 60px;
  }
  &__card-background {
    height: 575px;
    margin: 15px 15px 0 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6;
    //!
    background-color: black;
    z-index: 0;
  }

  &__card-frame {
    z-index: 1;
    position: relative;
    height: 100%;
    max-width: 97%;
    top: 0.5%;
    left: 3.1%;
    display: flex;
    flex-direction: column;

    border-radius: 5px;

    p {
      margin-bottom: 5px;
    }
  }

  &__card-frame-header,
  &__card-frame-type {
    border-left: 2px solid #c0c0c0;
    border-top: 1px solid #00b16a;
    border-right: 2px solid #00b16a;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d3ded6;
    color: black;
    //? padding: 8px 0;
    flex-shrink: 0;
  }

  &__card-frame-type {
    margin-top: 0;
  }

  &__card-name,
  &__card-type {
    font-size: 1em;
    margin-left: 5px;
    align-self: baseline;
    font-weight: 600;
    //
    word-wrap: break-word;
  }

  &__card-image,
  &__card-frame-header,
  &__card-frame-type {
    box-shadow: 0 0 0 2px #171314, 0 0 0 4px #0078d7, -2px 1px 1px 5px #171314;
  }

  &__card-image {
    height: 50%;
    margin: 0 10px;
  }

  &__card-frame-text-box {
    margin: 0 7px;
    color: #000000;
    background: #d3ded6;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.85em;
    padding: 5px 4px;
    box-shadow: 0 0 0 2px #171314, 0 0 0 4px #0078d7, -2px 1px 1px 5px #171314;
  }

  &__card-quote-text {
    font-style: italic;
    padding: 5px 4px;
    font-size: 0.7em;
  }

  &__card-description {
    margin: 5px 1px;
  }

  &__card-frame-bottom-info {
    color: #00b16a;
    display: flex;
    justify-content: space-between;
    margin: 3px 9px 0 9px;

    //!
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
  }

  &__card-fbi-left,
  &__card-fbi-right {
    font-size: 0.5em;
    position: relative;
    top: 6px;
  }

  &__card-fbi-right {
    text-align: right;
    font-weight: 800;
  }

  &__card-fbi-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 30px;
    position: relative;
    bottom: 10px;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0 0 0 4px #171314;
    p {
      position: absolute;
      padding: 0 9px;
      bottom: 2px;
      align-items: center;
      color: #000000;
    }
  }

  #card-set-icon {
    height: inherit;
    font-size: 1.5em;
    width: 1.8rem;
    overflow: hidden;
    align-self: center;
    color: goldenrod;
  }

  #card-stack-mana {
    font-size: small;
    padding-right: 3px;
    // height: inherit;
    align-self: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      margin-top: 1px;
      gap: 1px;
      li {
        margin-right: 5px;
        margin: 0 auto;
        border-bottom: 2px solid #00b16a;
        border-left: 2px solid #c0c0c0;
        border-top: 1px solid #00b16a;
        border-right: 2px solid #ffffff;
        border-radius: 20px;
        &:nth-child(odd) {
          background-color: #0078d7;
        }
        &:nth-child(even) {
          background-color: #00b16a;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  button {
    z-index: 900;
    position: relative;
    background-color: #0078d7;
    color: white;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4),
        0 0 0 4px rgba(0, 120, 215, 0.6);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

// Media Queries
//*----------------------- MOBILE SCREENs ---------------------------------
@media only screen and (max-width: 768px) {
  .buttons {
    button {
      background-color: #00b16a;
    }
  }
  .Skills {
    &__card-image {
    }
    &__card-frame-text-box {
      height: 250px;
    }
  }
}
//*----------------------------------------------------------------
